//! Підвал сайту

.footer {
    @include adaptiv-value("padding-top", 100, 25, 0);
    @include adaptiv-value("padding-bottom", 56, 14, 0);
    background-color: $black-color;
    color: #fff;
    &__logo {
        margin-bottom: 30px;
        svg {
            @include adaptiv-value("width", 371, 259.7, 0);
            @include adaptiv-value("height", 82, 57.4, 0);
            path {
                transition: all 0.3s;
            }
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__title {
        font-family: 'Comfortaa', cursive;
        @include adaptiv-value("font-size", 60, 32, 0);
        line-height: 112.5%;
        margin-bottom: 27px;
        text-transform: uppercase;
        text-align: center;
    }
    &__form {
        max-width: 500px;
        @media (max-width: $mobile) {
            max-width: 600px;
            width: 100%;
        }
        &-input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            display: block;
            width: 100%;
            padding: 10px 0;
            margin-bottom: 57px;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1.8px;
            &::placeholder {
                font-size: 18px;
                font-weight: 700;
                line-height: 112.5%;
                opacity: 0.5;
                text-transform: uppercase;

            }
        }
        &-btn {
            font-family: 'Comfortaa', cursive;
            background-color: #fff;
            padding: 10px 66px;
            border: none;
            @include adaptiv-value("margin-bottom", 110, 50, 0);
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 112.5%;
            font-weight: 700;
            color: #000;
            cursor: pointer;
            transition: all 0.3s;
            @media (max-width: $mobile) {
                width: 100%;
            }
        }
    }
    &__social-title {
        margin-bottom: 25px;
        font-weight: 700;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &__gallery {
        width: 100%;
        display: flex;
        gap: 2%;
        @include adaptiv-value("margin-bottom", 50, 25, 0);
        @media (max-width: $mobile) {
            gap: 4%;
            flex-wrap: wrap;
        }
        &-link {
            width: calc(94% / 4);
            overflow: hidden;
            @media (max-width: $mobile) {
                width: calc(96% / 2);
                margin-bottom: 4%;
            }
        }
        &-item {
            margin-top: -2px;
            margin-bottom: -1px;
            width: 100%;
            object-fit: cover;
            transition: transform .3s;
        }
    }
    &__menu {
        &-list {
            font-weight: 700;
            display: flex;
            gap: 4%;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 440px) {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }
        }
        &-item {
            max-height: 21px;
            margin-bottom: 15px;
        }
        &-link {
            max-height: 21px;
            white-space: nowrap;
            color: #fff;
            transition: color 0.3s;
        }
    }
}
body {
    &._cursor {
        .footer {
            &__logo {
                &:hover {
                    path {
                        fill: $blue-color;
                    }
                }
            }
            &__gallery {
                &-link {
                    &:hover {
                        .footer__gallery-item {
                            transform: scale(1.12);
                        }
                    }
                }
            }
            &__form {
                &-btn {
                    &:hover {
                        background-color: $green-color;
                    }
                }
            }
            &__menu {
                &-link {
                    &:hover {
                        color: $blue-color;
                    }
                }
            }
        }
    }
    &._touch {
        .footer {
            &__logo {
                &:active {
                    path {
                        fill: $blue-color;
                    }
                }
            }
            &__gallery {
                &-link {
                    &:active {
                        .footer__gallery-item {
                            transform: scale(1.12);
                        }
                    }
                }
            }
            &__form {
                &-btn {
                    &:active {
                        background-color: $green-color;
                    }
                }
            }
            &__menu {
                &-link {
                    &:active {
                        color: $blue-color;
                    }
                }
            }
        }
    }
}