.header {
    background: url('./img/promo_bg.jpg') no-repeat center / cover;
    height: 100vh;
    @media (max-aspect-ratio: 5/4) {
        background-position: -430px 0%;
    }
    &__top {
        display: flex;
        align-items: center;
        padding: 57px 0;
        gap: 100px;
        @include adaptiv-value("gap", 100, 10, 0);
        justify-content: flex-end;
        @media (max-width: 768px) {
            justify-content: center;
        }
        @media (max-aspect-ratio: 5/4) {
            justify-content: center;
        }
        .logo {
            svg {
                @include adaptiv-value("width", 158, 118, 0);
                @include adaptiv-value("height", 32, 24, 0);
            }
            path {
                transition: fill .3s ease;
            }
            &:hover {
                path {
                    fill: $blue-color;
                }
            }
        }
    }
    &__btn, &__phone {
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        line-height: 22px;
        transition: all .3s ease;
        @include adaptiv-value("font-size", 20, 14, 0);
    }
    &__btn {
        text-transform: uppercase;
        color: #fff;
        @include adaptiv-value("padding-top", 12, 2, 0);
        @include adaptiv-value("padding-bottom", 12, 2, 0);
        @include adaptiv-value("padding-left", 71, 20, 0);
        @include adaptiv-value("padding-right", 71, 20, 0);
        background: $black-color;
    }
    &__phone {
        color: $black-color;
    }
    &__content {
        min-height: calc(100vh - 320px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        @media (max-width: 768px) {
            justify-content: center;
        }
        @media (max-aspect-ratio: 5/4) {
            justify-content: center;
        }
        &-box {
            max-width: 550px;
            text-align: center;
            color: #fff;
            margin-right: 30px;
            @media (max-width: 768px) {
                margin-right: 0;
            }
        }
    }
    &__decor-text {
        padding: 0;
        position: absolute;
        color: $blue-color;
        font-family: 'Comfortaa', cursive;
        font-weight: 400;
        @include adaptiv-value("font-size", 130, 50, 0);
        line-height: 112.5%;
        @media (min-width: 1920px) {
            font-size: 130px;
        }
        &_1 {
            bottom: -150px;
            right: 55%;
            z-index: 4;
            opacity: 0.3;
        }
        &_2 {
            bottom: -60px;
            left: 55%;
            opacity: 0.3;
        }
        &_3 {
            bottom: -150px;
            left: 55%;
            z-index: 4;
            font-style: italic;
            font-weight: 300;
            @include adaptiv-value("font-size", 32, 16, 0);
            @include adaptiv-value("max-width", 360, 140, 0);
            text-align: center;
            @media (min-width: 1920px) {
                font-size: 32px;
            }
        }
    }
    &__title, &__text {
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        margin-bottom: 20px;
        text-shadow: 0.05em .1em .1em rgba(0, 0, 0, 0.3);
    }
    &__title {
        text-transform: uppercase;
        @include adaptiv-value("font-size", 64, 48, 0);
        line-height: 112.5%;
    }
    &__text {
        font-size: 24px;
        line-height: 27px;
    }
    &::before {
        content: '';
        position: absolute;
        background: url('./img/promo_trees.png') no-repeat center / cover;
        bottom: -350px;
        left: 0;
        right: 0;
        height: 600px;
        z-index: 2;
    }
}
body {
    &._cursor {
        .header {
            &__btn {
                &:hover {
                    background: $green-color;
                }
            }
            &__phone {
                &:hover {
                    color: $green-color;
                }
            }
        }
    }
}