.info {
    margin-top: 130px;
    background: url('./img/info_bg.jpg') no-repeat center / cover;
    &-top {
        display: flex;
        gap: 80px;
        margin-bottom: 600px;
        &__text {
            position: relative;
            padding-top: 260px;
            width: 290px;
            line-height: 112.5%;
            color: #fff;
            &_with-btn {
                padding-bottom: 110px;
            }
            &_with-line {
                border-bottom: 1px solid #fff;
            }
        }
        &__btn {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &__img {
            position: relative;
            z-index: 2;
        }
    }
    &-specs {
        display: flex;
        align-items: center;
        color: #fff;
        padding-bottom: 50px;
        &__title {
            width: 290px;
            margin-right: 80px;
            text-transform: uppercase;
            font-family: 'Comfortaa', cursive;
            font-size: 60px;
            line-height: 112.5%;
        }
        &__list {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 30px 0;
            width: 565px;
            font-weight: 700;
        }
        &__item {
            margin-bottom: 15px;
            display: flex;
            gap: 25px;
        }
        &__caption {
            width: 184px;
        }
        &__text {
        }
    }
    &__inner {
    }
}
.popup-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    span, path, circle {
        transition: .3s all;
    }
    span {
        padding-top: 12px;
        display: block;
        color: #fff;
        font-size: 18px;
    }
}
body {
    &._cursor {
        .popup-btn {
            &:hover {
                path {
                    fill: $green-color;
                }
                circle {
                    stroke: $green-color;
                }
                span {
                    color: $green-color;
                }
            }
        }
    }
}