.technology {
    &__top {
        background: url('./img/technology_bg.jpg') center / cover no-repeat;
        background-position: top;
        &-inner {
            position: relative;
            min-height: 1370px;
        }
        &-box {
            position: absolute;
            left: 0;
            bottom: 70px;
        }
    }
    &__btn {
        right: 30%;
        top: 50%;
    }
    &__title {
        max-width: 470px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        @include adaptiv-value("font-size", 60, 38, 0);
        line-height: 112.5%;
        margin-bottom: 62px;
    }
    &__list {
        padding-left: 24px;
        &-item {
            padding-left: 24px;
            @include adaptiv-value("font-size", 20, 16, 0);
            line-height: 112.5%;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
}
.gallery {
    &__inner {
        @include adaptiv-value("margin-bottom", 115, 15, 0);
        @include adaptiv-value("margin-bottom", 130, 30, 0);
    }
    &__small {
        display: flex;
        @include adaptiv-value("gap", 98, 28, 0);
        @media (max-width: $mobile) {
            margin: 0 auto;
            flex-direction: column-reverse;
        }
        .text {
            margin-top: 70px;
            flex: 0 0 320px;
            line-height: 112.5%;
            @media (max-width: $mobile) {
                flex: 1 1 auto;
                @include adaptiv-value("margin-bottom", 98, 28, 0);
                margin-top: 0;
                @include adaptiv-value("font-size", 20, 16, 0);
            }
        }
        .images {
            flex: 1 1 auto;
            margin-top: -25%;
            margin-bottom: 150px;
            display: grid;
            @include adaptiv-value("row-gap", 30, 10, 0);
            @include adaptiv-value("column-gap", 24, 8, 0);
            grid-template: auto / 67% 29%;
            position: relative;
            @include adaptiv-value("padding-top", 72, 24, 0);
            @include adaptiv-value("padding-right", 31, 10, 0);
            @include adaptiv-value("padding-bottom", 52, 18, 0);
            @include adaptiv-value("padding-left", 31, 10, 0);
            @media (max-width: $mobile) {
                margin-top: -7%;
                margin-bottom: 0;
            }
            div {
                overflow: hidden;
            }
            img {
                width: 100%;
                object-fit: cover;
            }
            .big-img {
                grid-column: 1 / 3;
            }
            .t-l {
                border-top-left-radius: 420px;
            }
            .b-l {
                border-bottom-left-radius: 300px;
            }
            &::before {
                content: '';
                position: absolute;
                border: 3px solid $black-color;
                border-radius: 25% 0 35%;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__big {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1.65%;
        p {
            width: 25%;
            background: #0093A1;
            border-bottom-left-radius: 200px;
            font-style: italic;
            font-weight: 800;
            @include adaptiv-value("font-size", 32, 12, 0);
            line-height: 112.5%;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                width: 60%;
            }
        }
        img {
            width: 100%;
            margin-bottom: 1.65%;
            object-fit: cover;
        }
        .img_ {
            &1 {
                width: 40%;
            }
            &2 {
                width: 58.333%;
                border-top-right-radius: 500px;
            }
            &3 {
                width: 25%;
                border-bottom-right-radius: 150px;
            }
            &4 {
                width: 39.0833%;
                border-top-right-radius: 200px;
            }
            &5 {
                width: 32.5833%;
                border-top-left-radius: 200px;
            }
            &6 {
                width: 73.333%;
                border-bottom-left-radius: 400px;
            }
        }
    }
}
